.input-default-value {
    border-bottom: 1px solid black;
    width: 80%;
    box-sizing: border-box;
    margin-left: 5px;
    border: none;
    outline: none;
    font-style: italic;
    color: darkgray;
    transition: color 0.2s ease-in-out;
}

.input-default-value:hover {
    color: darkblue;
}

.input-refresh-btn {
    height: 0.8em;
    cursor: pointer;
    position: absolute;
    right: 5%;
}

.feature-unsupported {
    color: lightgray;
    font-style: italic;
    text-decoration: line-through;
}

@media (min-width: 960px) {
    body {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .input-refresh-btn {
        position: absolute;
        right: 25%;
    }
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 0.5vh;
    height: 4vh;
}

#footer a {
    color: white;
}

#bidRequestForm {
    margin-bottom: 1vh;
}