.input-default-value {
    color: lightgray;
    font-style: italic;
}

.feature-unsupported {
    color: lightgray;
    font-style: italic;
    text-decoration: line-through;
}


@media (min-width: 600px) {
    body {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
